{% for intf_num in range(1, 2) %}
interface Ethernet{{ intf_num }}
   description my test interfaces
   spanning-tree portfast
   switchport access vlan 22
   switchport mode access
{% endfor %}

{% for intf_num in range(3, 4) %}
interface Ethernet{{ intf_num }}
   description my test interfaces
   spanning-tree portfast
   switchport access vlan 22
   switchport mode access
{% endfor %}
